@{
    ViewBag.Title = "Contact";
}
<link href="~/Content/cardStyle.css" rel="stylesheet" />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row mentorContainer">

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(document.body).css('background-image', 'url("/Photos/image.jpg")');
            $(document.body).css('background-repeat', 'no-repeat');
            $(document.body).css('background-size', 'cover');
        });

        selectAll = function (onSuccess, onError) {
            var url = "/api/buddy";

            var settings = {
                cache: false
                , dataType: "json"
                , success: onSuccess
                , error: onError
                , type: "GET"
            };

            $.ajax(url, settings);

        }

        function onError(jqXHR) {
            console.log(jqXHR);
        }

        function onSuccess(data) {
            var arrayOfMentors = data;
            appendToDom(arrayOfMentors);
        }

        selectAll(onSuccess, onError);

        function getMentorSuccess(data) {
            var arrayOfMentors = data.items;
            appendToDom(arrayOfMentors);
        }

        function appendToDom(array) {
            for (var i = 0; i < array.length; i++) {
                var $mentor = populateTemplate(array[i]);
                $('.mentorContainer').append($mentor);
            }
        }

        function populateTemplate(mentor) {
            var $mentor = $($('#mentorsTemplate').html());
            $mentor.find('#js-toProfile').attr('href', '/profile/index/' + mentor.Id);
            $mentor.find('#mentorName').text(mentor.FirstName + " " + mentor.LastName);
            $mentor.find('.age').text(mentor.Age + " Years Old");
            $mentor.find('#branch').text(mentor.Branch);
            $mentor.find('#rank').text(mentor.Rank);
            $mentor.find('#yearsServed').text(mentor.YearsServed + " Years Served");
            if (mentor.IsActive == 1) {
                $mentor.find('#status').text("Active");
            } else {
                $mentor.find('#status').text("Retired");
            }
            $mentor.find('#currentOccupation').text(mentor.CurrentOccupation);
            $mentor.find('#location').text(mentor.Location);
            var idNumber = mentor.Id;
            setPicture($mentor, idNumber);
            return $mentor;
        }

        function setPicture($mentor, idNumber) {
            switch (idNumber) {
                case 2:
                    $mentor.find("#randomPic").attr("src", "/Photos/profile/jack.jpg");
                    break;
                case 3:
                    $mentor.find("#randomPic").attr("src", "/Photos/profile/david.jpg");
                    break;
                case 4:
                    $mentor.find("#randomPic").attr("src", "/Photos/profile/eric.jpg");
                    break;
                case 5:
                    $mentor.find("#randomPic").attr("src", "/Photos/profile/billy.jpg");
                    break;
                case 6:
                    $mentor.find("#randomPic").attr("src", "/Photos/profile/jhamar.jpg");
                    break;
                case 7:
                    $mentor.find("#randomPic").attr("src", "/Photos/profile/don.jpg");
                    break;
                default:
                    $mentor.find("#randomPic").attr("src", "/Photos/profile/default.jpg");
                    break;
            }
        }
    </script>
    <script type="text/template" id="mentorsTemplate">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-0">
            <div class="contact-box center-version mentorCard">
                <div style="text-align:center;">
                    <img style="width:70%;margin-top:10%;" alt="image" class="img-circle" id="randomPic" src="/Themes/Inspinia_MVC5/Images/a6.jpg">
                    <h3 class="m-b-xs" id="mentorName"><strong>Janet Carton</strong></h3>
                    <div class="font-bold age">23</div>
                    <address class="m-t-md">
                        <strong id="branch">Air Force</strong><br>
                        <div id="rank">Sergeant</div>
                        <div id="yearsServed">15 Years Served</div>
                        <div id="status">Retired</div>
                        <div id="currentOccupation">Chef</div>
                        <div id="location">San Diego, CA</div><br>
                    </address>
                </div>
                <div class="contact-box-footer">
                    <div class="m-b-md">
                        <a id="js-toProfile" class="btn btn-primary messageButton"> Message </a>
                    </div>
                </div>
            </div>
        </div>
    </script>
}