<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Oxygen - One Page HTML Template | Themeum</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/animate.min.css" rel="stylesheet">
    <link href="/Content/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/lightbox.css" rel="stylesheet">
    <link href="/Content/main.css" rel="stylesheet">
    <link id="css-preset" href="/Content/presets/preset1.css" rel="stylesheet">
    <link href="/Content/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="images/favicon.ico">
    <style>
        body > div.main-nav,
        body > div.main-nav.navbar-fixed-top {
            display: none !important;
        }

        body > div.navbar.navbar-inverse.navbar-fixed-top {
            display: none !important;
        }
    </style>

    <script type="text/javascript" src="/Scripts/jquery.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/Scripts/jquery.inview.min.js"></script>
    <script type="text/javascript" src="/Scripts/wow.min.js"></script>
    <script type="text/javascript" src="/Scripts/mousescroll.js"></script>
    <script type="text/javascript" src="/Scripts/smoothscroll.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.countTo.js"></script>
    <script type="text/javascript" src="/Scripts/lightbox.min.js"></script>
    <script type="text/javascript" src="/Scripts/main.js"></script>

</head><!--/head-->

<body>

    <!--.preloader-->
    <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
    <!--/.preloader-->

    <header id="home">
        <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url('/Photos/silhouette against flag.jpg');background-size:100%;">
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig"></h1>
                        <p class="animated fadeInRightBig">"You can't explain what it's like to have done certain things unless your  audience has some experience with it."</p>
                        <a data-scroll class="animated fadeInUpBig" href="#contact"></a>
                    </div>
                </div>
                <div class="item" style="background-image: url('../../Photos/Solid stars with dogtags in corner.jpg');background-size:100%;">
                    <div class="caption">
                        <p class="animated fadeInRightBig">Reach out now to text or chat anonymously with aveteran buddy.</p>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="/home/contact">Contact a Veteran</a>
                        <br />
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#contact">Check out the Forum</a>
                    </div>
                </div>
                @*<div class="item" style="background-image: url(images/slider/3.jpg)">
                         <div class="caption">
                      <h1 class="animated fadeInLeftBig">We are <span>Creative</span></h1>
                      <p class="animated fadeInRightBig">Bootstrap - Responsive Design - Retina Ready - Parallax</p>
                      <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
                    </div>
                      </div>*@
            </div>
            <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

            <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

            <!--/#home-slider-->
            @*<div class="main-nav">
                  <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="index.html">
                        <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
                      </a>
                    </div>
                    <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav navbar-right">
                        <li class="scroll active"><a href="#home">Home</a></li>
                        <li class="scroll"><a href="#contact">Service</a></li>
                        <li class="scroll"><a href="#about-us">About Us</a></li>
                        <li class="scroll"><a href="#portfolio">Portfolio</a></li>
                        <li class="scroll"><a href="#team">Team</a></li>
                        <li class="scroll"><a href="#blog">Blog</a></li>
                        <li class="scroll"><a href="#contactUs">Contact</a></li>
                      </ul>
                    </div>
                  </div>
                </div>*@<!--/#main-nav-->
    </header><!--/#home-->

    <script>
        function addReply(postId) {
            $('#entry-content-' + postId + ' > h3.anchor').append('<h4>' + $('#entry-content-' + postId + '> input').val() + '</h4>');
            $('#entry-content-' + postId + ' > h3.anchor').append('<p class="entry-content">' + $('#entry-content-' + postId + '> textarea').val() + '</p>');
        }

        //$(document).ready(function () {
        //    if (screen.width < 768) {
        //        var height = screen.height / 2;
        //        height += 'px';
        //        $('.item').css('height', height);
        //    }
        //});
    </script>

    <style>
        .great-button {
            background: #028FCC;
            width: 100px;
            height: 40px;
            border-radius: 10px;
            color: white;
            text-align: center;
            font-size: 20px;
            line-height: 40px;
            margin-top: 10px;
            cursor: pointer;
        }

        input {
            margin-bottom: 10px;
        }

        b1 {
            display: none !important;
        }
    </style>

    <section id="contact">
        <div class="container">
            <div class="blog-posts">
                <div class="row">
                    <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
                        <div class="entry-header">
                            <h2>FORUM</h2>
                            <h3 onclick="$('#entry-content-1').toggle();"><a>Diagnosed with PTSD</a></h3>
                            <span class="date">June 26, 2014</span>
                        </div>
                        <div id="entry-content-1" class="entry-content" style="display:none;">
                            <h4>Eric</h4>
                            <p>I’ve never done this. How’s it work? </p>
                            <h4>Jhamar</h4>
                            <p>We talk. Text. Whatever’s on your mind. Where did you serve?</p>
                            <h4>Eric</h4>
                            <p>Army. 101st Airborne. Three tours in Iraq. You?</p>
                            <h4>Jhamar</h4>
                            <p>Navy, U.S.S. Theodore Roosevelt. Gulf War.</p>
                            <h4>Eric</h4>
                            <p>Okay. I’ve been diagnosed with fairly severe PTSD. I can still function and work -- some days I have to go and sit in my car because I just feel out of control of my own emotions (and God bless my boss who knows about my situation but employs me and covers for me) -- but there are usually several days a month where my wife has to make sure she and my toddler son stay away from me. I can get pretty emotionally unstable for reasons I still can't explain because I have yet to really put a better finger on my triggers. </p>
                            <h4>Jhamar</h4>
                            <p>When I came home, the first thing my wife said to me was that she was filing for divorce. Ended an eight-year relationship. The war didn't kill me, but coming home almost did. </p>
                            <h4>Eric</h4>
                            <p>Absolutely. Out of the military, I spent almost a decade fucking, fighting, and having random emotionally erratic episodes and just chalking it up to drinking (I became a drunk) and partying. My family and friends noticed the difference in me, but they were too worried to mention because I had temper issues.</p>
                            <h4>Jhamar</h4>
                            <p>You married?</p>
                            <h4>Eric</h4>
                            <p>Yeah. It wasn't until I met my wife that I learned normal human fucking behavior and how love should actually work. I cut back on my partying and stopped fighting (still working on the drinking), but when my wife got pregnant I started to have REALLY LOW lows. I did some things I’m not proud of over there. I can't explain what it’s like to have done certain things unless the person listening has some experience with it. </p>
                            <h4>Jhamar</h4>
                            <p>The dirty secret about combat is coming home and walking around every day feeling like you're a bad person. And it’s hard to find people to connect with.  The life you get from being in an extreme situation... you get to know fear in a way that most other people don’t.</p>


                            <h3 class="anchor"></h3>
                            <h3><a>Reply</a></h3>
                            <input class="name" type="text" placeholder="Name" style="width:100%;" />
                            <br />
                            <textarea class="message" type="text" placeholder="Reply to this forum post" style="width:100%;"></textarea>
                            <div onclick="addReply(1);" class="entry-content-1-button great-button">SUBMIT</div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
                        <div class="entry-header">
                            <h3 onclick="$('#entry-content-2').toggle();"><a>Culver City meetup next weekend</a></h3>
                            <span class="date">June 26, 2014</span>
                        </div>
                        <div id="entry-content-2" class="entry-content" style="display:none;">
                            <h4>Billy</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Jack</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Billy</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Jack</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h3 class="anchor"></h3>
                            <h3><a>Reply</a></h3>
                            <input class="name" type="text" placeholder="Name" style="width:100%;" />
                            <br />
                            <textarea class="message" type="text" placeholder="Reply to this forum post" style="width:100%;"></textarea>
                            <div onclick="addReply(2);" class="entry-content-1-button great-button">SUBMIT</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
                        <div class="entry-header">
                            <h3 onclick="$('#entry-content-3').toggle();"><a>Culver City meetup next weekend</a></h3>
                            <span class="date">June 26, 2014</span>
                        </div>
                        <div id="entry-content-3" class="entry-content" style="display:none;">
                            <h4>Billy</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Jack</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Billy</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Jack</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h3 class="anchor"></h3>
                            <h3><a>Reply</a></h3>
                            <input class="name" type="text" placeholder="Name" style="width:100%;" />
                            <br />
                            <textarea class="message" type="text" placeholder="Reply to this forum post" style="width:100%;"></textarea>
                            <div onclick="addReply(3);" class="entry-content-1-button great-button">SUBMIT</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
                        <div class="entry-header">
                            <h3 onclick="$('#entry-content-4').toggle();"><a>Culver City meetup next weekend</a></h3>
                            <span class="date">June 26, 2014</span>
                        </div>
                        <div id="entry-content-4" class="entry-content" style="display:none;">
                            <h4>Billy</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Jack</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Billy</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h4>Jack</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <h3 class="anchor"></h3>
                            <h3><a>Reply</a></h3>
                            <input class="name" type="text" placeholder="Name" style="width:100%;" />
                            <br />
                            <textarea class="message" type="text" placeholder="Reply to this forum post" style="width:100%;"></textarea>
                            <div onclick="addReply(4);" class="entry-content-1-button great-button">SUBMIT</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#blog-->

    <footer id="footer">
        <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="container text-center">
                <div class="social-icons">
                    <ul>
                        <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>