@{
    ViewBag.Title = "Index";
}





<h2>Profile</h2>

<div class="row">
    <div class="col-xs-12 col-md-4 border-none">
        <div class="col-md-3">
            <label class="label label-info" for="firstName">First Name</label>
        </div>
        <div class="col-md-9">
            <input type="text" id="firstName" class="" />
        </div>

        <div class="col-md-3">
            <label class="label label-info" for="lastName">Last Name</label>
        </div>
        <div class="col-md-9">
            <input type="text" id="lastName" />
        </div>

        <div class="col-md-3">
            <label class="label label-info" for="age">Age</label>
        </div>
        <div class="col-md-9">
            <input type="text" id="age" />
        </div>

        <div class="col-md-3">
            <label class="label label-info" for="isActive">Active</label>
        </div>
        <div class="col-md-9">
            <input type="text" id="isActive" />
        </div>

        <div class="col-md-3">
            <label class="label label-info" for="branch">Branch</label>
        </div>
        <div class="col-md-9">
            <input type="text" id="branch" />
        </div>

        <div class="col-md-3">
            <label class="label label-info" for="rank">Rank</label>
        </div>
        <div class="col-md-9">
            <input type="text" id="rank" />
        </div>

        <div class="col-md-3">
            <label class="label label-info" for="years">Years</label>
        </div>
        <div class="col-md-9">
            <input type="text" id="years" />
        </div>
        <div class="col-md-3">
            <label class="label label-info" for="location">Location</label>
        </div>
        <div class="col-md-9">
            <input type="text" id="location" />
        </div>

        <div class="col-md-3">
            <label class="label label-info" for="currentOccupation">Occupation</label>
        </div>
        <div class="col-md-9">
            <input type="text" id="currentOccupation" />
        </div>

        <div class="col-md-3">
            <label class="label label-info" for="tagline">Tagline</label>
        </div>
        <div class="col-md-9">
            <input type="text" id="tagline" />
        </div>

        <div class="col-md-3">
            <label class="label label-info" for="bio">Bio</label>
        </div>
        <div class="col-md-9 padding-30">
            <input type="text" id="bio" />
        </div>
        
    </div>
    <div class="col-xs-12 col-md-8">

        <form id="contactForm">
            <input type="hidden" name="phoneNumberTo" id="phoneNumberTo" />
            <input type="hidden" name="id" id="id" />
            <div class="col-md-12">
                <label class="label label-primary" for="message">Message</label>
            </div>
            <div class="col-md-12">
                <textarea rows="7" cols="50" id="messageBody" class="" name="messageBody"
                          placeholder="Type your message here."></textarea>
            </div>
            <div class="col-md-12">
                <label class="label label-primary" for="phone">Phone</label>
            </div>
            <div class="col-md-12">
                <input type="tel" id="myPhone" name="myPhone" />
            </div>
            <div class="col-xs-3 col-md-3" style="padding-top:5px;">
                <button type="button" id="submitButton" class="btn btn-sm btn-success">Text</button>

            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>

        var profilePage = {
            profile: {}
        };

        profilePage.profile.getById = function (id) {

            var url = "/api/buddy/" + id;
            var settings = {
                cache: false,
                dataType: "json",
                //data: data,
                success: onSuccess,
                error: onError,
                type: "GET"
            };
            $.ajax(url, settings);
        };

        function onSuccess(data) {
            $('#id').val(data.Id);
            $('#firstName').val(data.FirstName);
            $('#lastName').val(data.LastName);
            $('#age').val(data.Age);
            $('#isActive').val(data.IsActive);
            $('#branch').val(data.Branch);
            $('#rank').val(data.Rank);
            $('#years').val(data.YearsServed);
            $('#location').val(data.Location);
            $('#currentOccupation').val(data.CurrentOccupation);
            $('#tagline').val(data.TagLine);
            $('#bio').val(data.Bio);
            $('#phoneNumberTo').val(data.PhoneNumber);
        };

        function onError() {
            console.log("What went wrong?");
        };


        profilePage.id = window.location.pathname.split('/');

        profilePage.profile.getById(profilePage.id[profilePage.id.length - 1]);

   
           
        $(document).ready(function () {
            console.log("ready!");
            $("#submitButton").on("click", getInfo);
        });

        var getInfo = function () {
            console.log($("#contactForm").serialize());

            $.ajax({
                type: "POST",
                url: "/api/messaging",
                data: $("#contactForm").serialize(),
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
        }


        function successFunc(data, status) {
            console.log(data);
        }

        function errorFunc() {
            console.log('error');
        }


    </script>

}
