
@{
    ViewBag.Title = "Index";
}

<h2>Profile</h2>
    
<div class="row">
    <div class="col-xs-6 col-md-8 input-group-lg">
        <label class="label label-info col-md-2" for="firstName">First Name</label>
        <input type="text" id="firstName" class="col-md-8" name="firstName" value="" />
    </div>

    <div class="col-xs-6 col-md-8">
        <label class="label label-info col-md-2" for="lastName">Last Name</label>
        <input type="text" id="lastName" class="input-group-lg col-md-8" name="lastName" value="" />
    </div>

    <div class="col-xs-6 col-md-8">
        <label class="label label-info col-md-2" for="age">Age</label>
        <input type="text" id="age" class="input-group-lg col-md-8" name="age" value="" />
    </div>

    <div class="col-xs-6 col-md-8">
        <label class="label label-info col-md-2" for="isActive">Active</label>
        <input type="text" id="isActive" class="input-group-lg col-md-8" name="isActive" value="" />
    </div>

    <div class="col-xs-6 col-md-8">
        <label class="label label-info col-md-2" for="branch">Branch</label>
        <input type="text" id="branch" class="input-group-lg col-md-8" name="branch" value="" />
    </div>

    <div class="col-xs-6 col-md-8">
        <label class="label label-info col-md-2" for="rank">Rank</label>
        <input type="text" id="rank" class="input-group-lg col-md-8" name="rank" value="" />
    </div>

    <div class="col-xs-6 col-md-8">
        <label class="label label-info col-md-2" for="years">Years</label>
        <input type="text" id="years" class="input-group-lg col-md-8" name="years" value="" />
    </div>

    <div class="col-xs-6 col-md-8">
        <label class="label label-info col-md-2" for="location">Location</label>
        <input type="text" id="location" class="input-group-lg col-md-8" name="location" value="" />
    </div>

    <div class="col-xs-6 col-md-8">
        <label class="label label-info col-md-2" for="currentOccupation">Current Occupation</label>
        <input type="text" id="currentOccupation" class="input-group-lg col-md-8" name="currentOccupation" value="" />
    </div>

    <div class="col-xs-6 col-md-8">
        <label class="label label-info col-md-2" for="tagline">Tagline</label>
        <input type="text" id="tagline" class="input-group-lg col-md-8" name="tagline" value="" />
    </div>

    <div class="col-xs-6 col-md-8">
        <label class="label label-info col-md-2" for="bio">Bio</label>
        <input type="text" id="bio" class="input-group-lg col-md-8" name="bio" value="" />
    </div>

    <input type="hidden" name="id" value="0">

    <div class="result col-xs-6 col-md-8">    </div>

</div>


@section Scripts{
    <script>

        var profilePage = {
            profile:{} 
        };
  
        profilePage.profile.getById = function(id) {

            var url = "/api/buddy/" + id;
            var settings = {
                cache: false,
                dataType: "json",
                //data: data,
                success: onSuccess,
                error: onError,
                type: "GET"
            };
            $.ajax(url, settings);
        };

        function onSuccess(data) {
            $('#id').val(data.Id);
            $('#firstName').val(data.FirstName);
            $('#lastName').val(data.LastName);
            $('#age').val(data.Age);
            $('#isActive').val(data.IsActive);
            $('#branch').val(data.Branch);
            $('#rank').val(data.Rank);
            $('#years').val(data.YearsServed);
            $('#location').val(data.Location);
            $('#currentOccupation').val(data.CurrentOccupation);
            $('#tagline').val(data.TagLine);
            $('#bio').val(data.Bio);   
        };

        function onError() {
            console.log("What went wrong?");
        };


        profilePage.id = window.location.pathname.split('/');

        profilePage.profile.getById(profilePage.id[profilePage.length - 1]);
       
    
</script>


}